.info_container{
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(5, 5, 5, 0.9);
}

.info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
@media(max-width: 20000px){
    .info_container{
        display: None;
    }
}
